## Harjoitustyö

## Vaihe 1

#### Tehtävä 1. Hae Digitrafficin REST-rajapintapalvelusta (JSON-formaatissa) aktiiviset junat pääteosoitteella `/live-trains` Helsingin asemalta, joiden hakuparametrit ovat seuraavat:
* arrived_trains=10
* departed_trains=10
* include_nonstopping=False


#### Tehtävä 2. Tämän jälkeen lue kyseinen data Pandasin dataframeen ilman muokkaamista, jolloin sarakkeiden otsikot ovat seuraavanlaiset:

 `cancelled`,
 `commuterLineID`,
 `departureDate`,
 `operatorShortCode`,
 `operatorUICCode`,
 `runningCurrently`,
 `timeTableRows`,
 `timetableAcceptanceDate`,
 `timetableType`,
 `trainCategory`,
 `trainNumber`,
 `trainType`,
 `version`

In [3]:
import requests
import pandas as pd
import json

In [4]:
url='https://rata.digitraffic.fi/api/v1/live-trains/station/HKI'
url

'https://rata.digitraffic.fi/api/v1/live-trains/station/HKI'

In [5]:
req1=requests.get(url)
req1.status_code

200

In [6]:
search_parameters="?arrived_trains=5"
search_parameters2="&departed_trains=10"
search_parameters3="&include_nonstopping=False"

In [7]:
arrived_trains=5
departed_trains=10
include_nonstopping=False

In [8]:
new_url="{0}{1}{2}{3}".format(url, search_parameters, search_parameters2, search_parameters3)
new_url

'https://rata.digitraffic.fi/api/v1/live-trains/station/HKI?arrived_trains=5&departed_trains=10&include_nonstopping=False'

In [9]:
req2=requests.get(new_url)
req2.status_code

200

In [10]:
df=pd.read_json(req2.text)
df.head()

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,89,2021-03-10,10,vr,S,Long-distance,,True,False,277296303810,REGULAR,2020-11-06T10:17:00.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
1,8160,2021-03-10,10,vr,HL,Commuter,A,False,False,277296297722,REGULAR,2020-11-06T10:17:00.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
2,8165,2021-03-10,10,vr,HL,Commuter,A,True,False,277296299657,REGULAR,2020-11-06T10:17:00.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
3,8167,2021-03-10,10,vr,HL,Commuter,A,True,False,277296301634,REGULAR,2020-11-06T10:17:00.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
4,8371,2021-03-10,10,vr,HL,Commuter,E,False,False,277285485480,REGULAR,2020-11-06T10:17:00.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."

#### Tehtävä 3. Poista kaikki muut sarakkeet paitsi `timeTableRows` ja `trainNumber`

In [11]:
poistettavat_sarakkeet=["cancelled", "commuterLineID", "departureDate", "operatorShortCode", "operatorUICCode", "runningCurrently", "timetableAcceptanceDate", "timetableType", "trainCategory", "trainType", "version"]

In [12]:
df_new=df.drop(["cancelled", "commuterLineID", "departureDate", "operatorShortCode", "operatorUICCode", "runningCurrently", "timetableAcceptanceDate", "timetableType", "trainCategory", "trainType", "version"], axis=1)
df_new.head(500)

    trainNumber                                      timeTableRows
0            89  [{'stationShortCode': 'HKI', 'stationUICCode':...
1          8160  [{'stationShortCode': 'LPV', 'stationUICCode':...
2          8165  [{'stationShortCode': 'HKI', 'stationUICCode':...
3          8167  [{'stationShortCode': 'HKI', 'stationUICCode':...
4          8371  [{'stationShortCode': 'HKI', 'stationUICCode':...
5          8482  [{'stationShortCode': 'KKN', 'stationUICCode':...
6          8487  [{'stationShortCode': 'HKI', 'stationUICCode':...
7          8580  [{'stationShortCode': 'STI', 'stationUICCode':...
8          8698  [{'stationShortCode': 'HKI', 'stationUICCode':...
9          8699  [{'stationShortCode': 'HKI', 'stationUICCode':...
10         8705  [{'stationShortCode': 'HKI', 'stationUICCode':...
11         8706  [{'stationShortCode': 'HKI', 'stationUICCode':...
12         8707  [{'stationShortCode': 'HKI', 'stationUICCode':...
13         8709  [{'stationShortCode': 'HKI', 'stationUICCode':...
14         8893  [{'stationShortCode': 'HKI', 'stationUICCode':...
15         8894  [{'stationShortCode': 'HKI', 'stationUICCode':...
16         8901  [{'stationShortCode': 'HKI', 'stationUICCode':...
17         8903  [{'stationShortCode': 'HKI', 'stationUICCode':...
18         9218  [{'stationShortCode': 'KE', 'stationUICCode': ...
19         9237  [{'stationShortCode': 'HKI', 'stationUICCode':...
20         9243  [{'stationShortCode': 'HKI', 'stationUICCode':...
21         9696  [{'stationShortCode': 'RI', 'stationUICCode': ...
22         9709  [{'stationShortCode': 'HKI', 'stationUICCode':...
23        63011  [{'stationShortCode': 'ILR', 'stationUICCode':...
24        64015  [{'stationShortCode': 'HKI', 'stationUICCode':...

#### Tehtävä 4. Tämän jälkeen pura `timeTableRows` sarakkeen arvot jokaisesta junasta erikseen (sarakkeen arvo jokaiselle junalle sisältää useampia JSON-objekteja) ja lisää dataan mukaan junan tiedot yksilöivä `trainNumber`

In [13]:
df_timetable=pd.DataFrame()

for i in range(df.shape[0]):
    df_temp=pd.DataFrame(df.timeTableRows[i])
    df_temp['trainNumber']=df.trainNumber[i]
    df_timetable=df_timetable.append(df_temp)
df_timetable=df_timetable.reset_index(drop=True)
df_timetable.shape
df_timetable.head(500)

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainReady,liveEstimateTime,estimateSource,trainNumber
0,HKI,1,FI,DEPARTURE,True,True,6,False,2021-03-10T16:03:00.000Z,2021-03-10T16:03:31.000Z,1.0,[],"{'source': 'KUPLA', 'accepted': True, 'timesta...",NaN,NaN,89
1,PSL,10,FI,ARRIVAL,True,True,4,False,2021-03-10T16:08:00.000Z,2021-03-10T16:08:02.000Z,0.0,[],NaN,NaN,NaN,89
2,PSL,10,FI,DEPARTURE,True,True,4,False,2021-03-10T16:09:00.000Z,2021-03-10T16:09:40.000Z,1.0,[],NaN,NaN,NaN,89
3,KÄP,977,FI,ARRIVAL,False,NaN,,False,2021-03-10T16:11:00.000Z,2021-03-10T16:11:47.000Z,1.0,[],NaN,NaN,NaN,89
4,KÄP,977,FI,DEPARTURE,False,NaN,,False,2021-03-10T16:11:00.000Z,2021-03-10T16:11:47.000Z,1.0,[],NaN,NaN,NaN,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,ML,17,FI,ARRIVAL,True,True,4,False,2021-03-10T16:46:30.000Z,NaN,1.0,[],NaN,2021-03-10T16:47:37.000Z,COMBOCALC,8705
496,ML,17,FI,DEPARTURE,True,True,4,False,2021-03-10T16:47:00.000Z,NaN,1.0,[],NaN,2021-03-10T16:48:07.000Z,COMBOCALC,8705
497,PMK,551,FI,ARRIVAL,True,True,4,False,2021-03-10T16:48:30.000Z,NaN,0.0,[],NaN,2021-03-10T16:49:25.000Z,COMBOCALC,8705
498,PMK,551,FI,DEPARTURE,True,True,4,False,2021-03-10T16:49:00.000Z,NaN,0.0,[],NaN,2021-03-10T16:49:55.000Z,COMBOCALC,8705
499,OLK,15,FI,ARRIVAL,True,True,4,False,2021-03-10T16:50:30.000Z,NaN,1.0,[],NaN,2021-03-10T16:51:42.000Z,COMBOCALC,8705

In [14]:
#df.timeTableRows[0]

In [15]:
df[df.trainNumber==8714].timeTableRows

Series([], Name: timeTableRows, dtype: object)

In [16]:
df[df.trainNumber==11].timeTableRows.values[0][0]

IndexError: index 0 is out of bounds for axis 0 with size 0

#### Tehtävä 5. Pudota sitten seuraavat sarakkeet datasta: `causes`, `estimateSource`, `liveEstimateTime`, `differenceInMinutes`, `commercialStop` ja `trainReady`

In [17]:
df_timetable_new=df_timetable.drop(["causes", "estimateSource", "liveEstimateTime", "differenceInMinutes", "commercialStop", "trainReady"], axis=1)
df_timetable_new.head(21)

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,HKI,1,FI,DEPARTURE,True,6,False,2021-03-10T16:03:00.000Z,2021-03-10T16:03:31.000Z,89
1,PSL,10,FI,ARRIVAL,True,4,False,2021-03-10T16:08:00.000Z,2021-03-10T16:08:02.000Z,89
2,PSL,10,FI,DEPARTURE,True,4,False,2021-03-10T16:09:00.000Z,2021-03-10T16:09:40.000Z,89
3,KÄP,977,FI,ARRIVAL,False,,False,2021-03-10T16:11:00.000Z,2021-03-10T16:11:47.000Z,89
4,KÄP,977,FI,DEPARTURE,False,,False,2021-03-10T16:11:00.000Z,2021-03-10T16:11:47.000Z,89
5,OLK,15,FI,ARRIVAL,False,,False,2021-03-10T16:12:00.000Z,2021-03-10T16:12:33.000Z,89
6,OLK,15,FI,DEPARTURE,False,,False,2021-03-10T16:12:00.000Z,2021-03-10T16:12:33.000Z,89
7,PMK,551,FI,ARRIVAL,False,,False,2021-03-10T16:13:10.000Z,2021-03-10T16:13:29.000Z,89
8,PMK,551,FI,DEPARTURE,False,,False,2021-03-10T16:13:10.000Z,2021-03-10T16:13:29.000Z,89
9,ML,17,FI,ARRIVAL,False,2,False,2021-03-10T16:14:00.000Z,NaN,89
10,ML,17,FI,DEPARTURE,False,2,False,2021-03-10T16:14:00.000Z,NaN,89
11,TNA,552,FI,ARRIVAL,False,,False,2021-03-10T16:15:02.000Z,NaN,89
12,TNA,552,FI,DEPARTURE,False,,False,2021-03-10T16:15:02.000Z,NaN,89
13,PLA,553,FI,ARRIVAL,False,,False,2021-03-10T16:15:54.000Z,NaN,89
14,PLA,553,FI,DEPARTURE,False,,False,2021-03-10T16:15:54.000Z,NaN,89
15,TKL,18,FI,ARRIVAL,True,3,False,2021-03-10T16:17:00.000Z,NaN,89
16,TKL,18,FI,DEPARTURE,True,3,False,2021-03-10T16:19:00.000Z,NaN,89
17,HKH,556,FI,ARRIVAL,False,,False,2021-03-10T16:19:40.000Z,NaN,89
18,HKH,556,FI,DEPARTURE,False,,False,2021-03-10T16:19:40.000Z,NaN,89
19,HVK,1334,FI,ARRIVAL,False,,False,2021-03-10T16:20:00.000Z,NaN,89
20,HVK,1334,FI,DEPARTURE,False,,False,2021-03-10T16:20:00.000Z,NaN,89

#### Tehtävä 6. Täytä jokaisen rivin sarakkeen `actualTime` puuttuvat arvot `scheduledTime` -sarakkeen arvolla.

In [18]:
df_timetable_new.loc[df_timetable_new['actualTime'].isnull(), "actualTime"] = df_timetable_new['scheduledTime']
df_timetable_new.head(21)

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,HKI,1,FI,DEPARTURE,True,6,False,2021-03-10T16:03:00.000Z,2021-03-10T16:03:31.000Z,89
1,PSL,10,FI,ARRIVAL,True,4,False,2021-03-10T16:08:00.000Z,2021-03-10T16:08:02.000Z,89
2,PSL,10,FI,DEPARTURE,True,4,False,2021-03-10T16:09:00.000Z,2021-03-10T16:09:40.000Z,89
3,KÄP,977,FI,ARRIVAL,False,,False,2021-03-10T16:11:00.000Z,2021-03-10T16:11:47.000Z,89
4,KÄP,977,FI,DEPARTURE,False,,False,2021-03-10T16:11:00.000Z,2021-03-10T16:11:47.000Z,89
5,OLK,15,FI,ARRIVAL,False,,False,2021-03-10T16:12:00.000Z,2021-03-10T16:12:33.000Z,89
6,OLK,15,FI,DEPARTURE,False,,False,2021-03-10T16:12:00.000Z,2021-03-10T16:12:33.000Z,89
7,PMK,551,FI,ARRIVAL,False,,False,2021-03-10T16:13:10.000Z,2021-03-10T16:13:29.000Z,89
8,PMK,551,FI,DEPARTURE,False,,False,2021-03-10T16:13:10.000Z,2021-03-10T16:13:29.000Z,89
9,ML,17,FI,ARRIVAL,False,2,False,2021-03-10T16:14:00.000Z,2021-03-10T16:14:00.000Z,89
10,ML,17,FI,DEPARTURE,False,2,False,2021-03-10T16:14:00.000Z,2021-03-10T16:14:00.000Z,89
11,TNA,552,FI,ARRIVAL,False,,False,2021-03-10T16:15:02.000Z,2021-03-10T16:15:02.000Z,89
12,TNA,552,FI,DEPARTURE,False,,False,2021-03-10T16:15:02.000Z,2021-03-10T16:15:02.000Z,89
13,PLA,553,FI,ARRIVAL,False,,False,2021-03-10T16:15:54.000Z,2021-03-10T16:15:54.000Z,89
14,PLA,553,FI,DEPARTURE,False,,False,2021-03-10T16:15:54.000Z,2021-03-10T16:15:54.000Z,89
15,TKL,18,FI,ARRIVAL,True,3,False,2021-03-10T16:17:00.000Z,2021-03-10T16:17:00.000Z,89
16,TKL,18,FI,DEPARTURE,True,3,False,2021-03-10T16:19:00.000Z,2021-03-10T16:19:00.000Z,89
17,HKH,556,FI,ARRIVAL,False,,False,2021-03-10T16:19:40.000Z,2021-03-10T16:19:40.000Z,89
18,HKH,556,FI,DEPARTURE,False,,False,2021-03-10T16:19:40.000Z,2021-03-10T16:19:40.000Z,89
19,HVK,1334,FI,ARRIVAL,False,,False,2021-03-10T16:20:00.000Z,2021-03-10T16:20:00.000Z,89
20,HVK,1334,FI,DEPARTURE,False,,False,2021-03-10T16:20:00.000Z,2021-03-10T16:20:00.000Z,89

## Vaihe 2

#### Tehtävä 7. Pura tämän kansion sisällä olevan `data.html` -tiedoston `table`-elementin solujen arvot käyttäen regex-syntaksia ja yhdistä ne vaiheessa 1 luotuun dataframeen. Huom: tehtävässä tulee käyttää vain regexiä (Esim. Pandasin read_html()-metodin käyttö on kielletty)!

In [73]:
import re

In [74]:
f = open("data.html", "r")
file=f.read()
print(file)

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <style>

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }

        table{
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        td{
            padding: 5px;
        }

        #actualTime{
            background-color: green
        }
    </style>

</head>


<header>

</header>


<body>

    <table>
        <tr id="actualTime">

                <th>actualTime</th>
                <th>cancelled</th>
                <th>commercialTrack</th>
                <th>countryCode</th>
                <th>scheduledTime</th>
                <th>stationShortCode</th>
                <th>stationUICCode</th>
                <th>trainStopping</th>
                <th>type</th>
                <th>trainNumber</th>
        </tr>

        <tr class="type">

                <td>
                        2019-08-06T04:48:00.000Z
                </td>
                <td>
                        False
                </td>
                <td>

                </td>
                <td>
                        FI
                </td>
                <td>
                        2019-08-06T04:48:00.000Z
                </td>
                <td>
                        JVS
                </td>
                <td>
                        1272
                </td>
                <td>
                        False
                </td>

                <td>
                        DEPARTURE
                </td>

                <td>
                        150
                </td>

            </tr>
            <tr class="countryCode">
                <td>
                        2019-08-06T06:04:39.000Z
                </td>
                <td>
                        False
                </td>
                <td>

                </td>
                <td>
                        FI
                </td>
                <td>
                        2019-08-06T06:04:39.000Z
                </td>
                <td>
                        R702
                </td>
                <td>
                        98998
                </td>
                <td>
                        False
                </td>

                <td>
                        ARRIVAL
                </td>

                <td>
                        150
                </td>
        </tr>


        <tr>
                <td>
                        2019-08-06T07:03:12.000Z
                </td>
                <td>
                        False
                </td>
                <td>

                </td>
                <td>
                        FI
                </td>
                <td>
                        2019-08-06T07:03:12.000Z
                </td>
                <td>
                        ILA
                </td>
                <td>
                        98998
                </td>
                <td>
                        9
                </td>

                <td>
                        ARRIVAL
                </td>

                <td>
                        8337
                </td>
        </tr>


    </table>

</body>


<footer>


</footer>
</html>

In [75]:
column_names=[]
re_pattern=r'\bth.*\b'
re_search = re.findall(re_pattern, file)
re_search
column_names.append(re_search)

def clean_colnames(row_elems):
    clean_elems=[]
    for elem in row_elems:
#         print(elem)
        clean_elems.append(re.sub('th>|</th|th, td','',elem))
    clean_elems=[x for x in clean_elems if x != '']
    return clean_elems

def get_clean_colnames(text):
    re_pattern=r'\bth.*\b'
    colnames = re.findall(re_pattern, text)
    cleaned_colnames=[]
#     print(colnames)
    cleaned_colnames=clean_colnames(colnames)
#     for colname in colnames:
#         cleaned_colnames.append(clean_colnames(colname))
    return cleaned_colnames

get_clean_colnames(file)

['actualTime',
 'cancelled',
 'commercialTrack',
 'countryCode',
 'scheduledTime',
 'stationShortCode',
 'stationUICCode',
 'trainStopping',
 'type',
 'trainNumber']

In [84]:
import pandas as pd
#td=[]
re_pattern_td="<tr[^>]*>[\s\S]*?</tr>\s*"
re_search1=re.findall(re_pattern_td, file)
re_search1

def get_rows(text, re_pattern_td="<tr[^>]*>[\s\S]*?</tr>\s*"):
    rows=re.findall(re_pattern_td, text)
    return rows

def get_row_elems(row, re_pattern='<td[^>]*>[\s\S]*?</td>\s*'):
    row_elems = re.findall(re_pattern, row)
    return row_elems

def clean_elem(row_elem):
    cleaned_elem=re.sub('<td>\n|</td>\n|\n|','',row_elem)
    cleaned_elem=re.sub(' +', '', cleaned_elem)
    return cleaned_elem

def clean_elems(row_elems):
    cleaned_row_elems=[]
    for elem in row_elems:
        cleaned_row_elems.append(clean_elem(elem))
    return cleaned_row_elems

def clean_rows(rows):
    cleaned_rows=[]
    for i, row in enumerate(rows):
        if i==0:
            cleaned_rows.append(get_clean_colnames(row))
        else:
            row_elems=get_row_elems(row)
            cleaned_rows.append(clean_elems(row_elems))
    return cleaned_rows

rows=get_rows(file)
elems1=get_row_elems(rows[1])

# clean_elems(elems1)
rows_list=clean_rows(rows)
df=pd.DataFrame(rows_list[1:], columns=rows_list[0])
df.head()
# df.rename(columns=df.iloc[0])
# for elem in elems1:
#     print(clean_elem(elem))
# rows[1]
# re.findall('<td[^>]*>[\s\S]*?</td>\s*', rows[1])

,actualTime,cancelled,commercialTrack,countryCode,scheduledTime,stationShortCode,stationUICCode,trainStopping,type,trainNumber
0,2019-08-06T04:48:00.000Z,False,,FI,2019-08-06T04:48:00.000Z,JVS\t,1272,False,DEPARTURE,150
1,2019-08-06T06:04:39.000Z,False,,FI,2019-08-06T06:04:39.000Z,R702,98998,False,ARRIVAL,150
2,2019-08-06T07:03:12.000Z,False,,FI,2019-08-06T07:03:12.000Z,ILA,98998,9,ARRIVAL,8337

## Vaihe 3

#### Tehtävä 8. Tee SQLite tietokanta ja lisää sinne vaiheessa 2 luotu dataframe.

In [108]:
import sqlite3

In [109]:
database_connection  = sqlite3.connect('tietokanta.db')
c = database_connection.cursor()

In [110]:
sqlite_table = "Dataframe_sql"
df.to_sql(sqlite_table, database_connection, if_exists='fail')

ValueError: Table 'Dataframe_sql' already exists.

In [111]:
sql_query = '''SELECT * FROM Dataframe_sql'''
dataframe_from_sqlite = pd.read_sql(sql_query, database_connection)
dataframe_from_sqlite

,index,actualTime,cancelled,commercialTrack,countryCode,scheduledTime,stationShortCode,stationUICCode,trainStopping,type,trainNumber
0,0,2019-08-06T04:48:00.000Z,False,,FI,2019-08-06T04:48:00.000Z,JVS\t,1272,False,DEPARTURE,150
1,1,2019-08-06T06:04:39.000Z,False,,FI,2019-08-06T06:04:39.000Z,R702,98998,False,ARRIVAL,150
2,2,2019-08-06T07:03:12.000Z,False,,FI,2019-08-06T07:03:12.000Z,ILA,98998,9,ARRIVAL,8337

In [112]:
database_connection.close()